<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>@MMK_L_t</key>
  <dict>
    <key>a</key>
    <integer>-10</integer>
    <key>period</key>
    <integer>-46</integer>
    <key>comma</key>
    <integer>-46</integer>
  </dict>
  <key>@MMK_L_g</key>
  <dict>
    <key>T</key>
    <integer>-65</integer>
    <key>F</key>
    <integer>-16</integer>
  </dict>
  <key>y</key>
  <dict>
    <key>T</key>
    <integer>-65</integer>
  </dict>
  <key>r</key>
  <dict>
    <key>a</key>
    <integer>-4</integer>
    <key>period</key>
    <integer>-81</integer>
  </dict>
  <key>q</key>
  <dict>
    <key>T</key>
    <integer>-63</integer>
    <key>F</key>
    <integer>-17</integer>
  </dict>
  <key>p</key>
  <dict>
    <key>T</key>
    <integer>-54</integer>
  </dict>
  <key>o</key>
  <dict>
    <key>T</key>
    <integer>-56</integer>
  </dict>
  <key>h</key>
  <dict>
    <key>T</key>
    <integer>-31</integer>
  </dict>
  <key>f</key>
  <dict>
    <key>@MMK_R_g</key>
    <integer>-41</integer>
    <key>y</key>
    <integer>-33</integer>
    <key>x</key>
    <integer>-48</integer>
    <key>v</key>
    <integer>-49</integer>
    <key>r</key>
    <integer>-72</integer>
    <key>q</key>
    <integer>-18</integer>
    <key>p</key>
    <integer>-36</integer>
    <key>e</key>
    <integer>-47</integer>
    <key>d</key>
    <integer>-26</integer>
    <key>b</key>
    <integer>13</integer>
    <key>a</key>
    <integer>-53</integer>
    <key>T</key>
    <integer>27</integer>
    <key>J</key>
    <integer>-80</integer>
    <key>period</key>
    <integer>-69</integer>
  </dict>
  <key>c</key>
  <dict>
    <key>r</key>
    <integer>-16</integer>
  </dict>
  <key>b</key>
  <dict>
    <key>T</key>
    <integer>-23</integer>
    <key>F</key>
    <integer>-16</integer>
  </dict>
  <key>a</key>
  <dict>
    <key>T</key>
    <integer>-55</integer>
  </dict>
  <key>Z</key>
  <dict>
    <key>a</key>
    <integer>-16</integer>
  </dict>
  <key>Y</key>
  <dict>
    <key>period</key>
    <integer>-46</integer>
    <key>comma</key>
    <integer>-23</integer>
  </dict>
  <key>T</key>
  <dict>
    <key>@MMK_R_g</key>
    <integer>-60</integer>
    <key>q</key>
    <integer>-60</integer>
    <key>p</key>
    <integer>-54</integer>
    <key>f</key>
    <integer>-35</integer>
    <key>d</key>
    <integer>-45</integer>
    <key>a</key>
    <integer>-56</integer>
    <key>I</key>
    <integer>15</integer>
  </dict>
  <key>P</key>
  <dict>
    <key>a</key>
    <integer>-28</integer>
    <key>period</key>
    <integer>-115</integer>
  </dict>
  <key>J</key>
  <dict>
    <key>q</key>
    <integer>-18</integer>
    <key>a</key>
    <integer>-18</integer>
  </dict>
  <key>I</key>
  <dict>
    <key>T</key>
    <integer>15</integer>
  </dict>
  <key>F</key>
  <dict>
    <key>r</key>
    <integer>-27</integer>
    <key>q</key>
    <integer>-16</integer>
    <key>o</key>
    <integer>-27</integer>
    <key>e</key>
    <integer>-27</integer>
    <key>d</key>
    <integer>-27</integer>
    <key>a</key>
    <integer>-27</integer>
    <key>period</key>
    <integer>-80</integer>
    <key>comma</key>
    <integer>-80</integer>
  </dict>
  <key>space</key>
  <dict>
    <key>F</key>
    <integer>35</integer>
  </dict>
</dict>
</plist>
